$font-stack: 'Helvetica, Arial, sans-serif';
$languages: (
  'as': 'assamese',
  'be': 'bengali',
  'en': 'english',
  'gu': 'gujarati',
  'hi': 'hindi',
  'kn': 'kannada',
  'ma': 'malayalam',
  'mr': 'marathi',
  'or': 'oriya',
  'pan': 'punjabi',
  'ta': 'tamil',
  'te': 'telugu',
  'ur': 'urdu',
);

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

@each $key, $name in $languages {
  $cap-name: capitalize($name);
  @font-face {
    font-family: 'Likhith' + $cap-name;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Likhith' + $cap-name), local('Likhith-' + $cap-name),
      url('/assets/fonts/' + $cap-name + '/' + $name + '.woff2') format('woff2'),
      url('/assets/fonts/' + $cap-name + '/' + $name + '.woff') format('woff'),
      url('/assets/fonts/' + $cap-name + '/' + $name + '.ttf')
        format('truetype');
  }

  html[lang='#{$key}'],  html[lang='#{$key}'] body {
    font-family: 'Likhith' + $cap-name, unquote($font-stack);
  }
}
