html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.rtl {
  text-align: right;
}

.rtl-social {
  right: -40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

section.content {
  // footer height -> padding bottom
  padding-bottom: 400px;
}

.content {
  display: flex;
  flex-direction: column;
}

.lg-social {
  position: sticky;
  top: 50px;
  bottom: 200px;
}
.ad-content {
}

.actual-content {
  min-height: 100vh;
  position: relative;

  /* bottom: 10px; */
  .pseudo {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 200px;
  }

  .quarter {
    top: 25%;
  }
  .half {
    top: 50%;
  }
  .three-quarter {
    top: 75%;
  }
  .full {
    top: 100%;
  }
}

@media (min-width: 768px) {
  .actual-content {
    margin-bottom: 80px;
  }
}
/* html,
body,
body > div {
  height: 100%;
}
body > div {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
} */

/* Start - Icons from Sprite */

.logo {
  width: 83px;
  height: 83px;
  &.assamese {
    background: url('/assets/images/etv_sprite.png') no-repeat -60px -232px;
  }
  &.urdu {
    background: url('/assets/images/etv_sprite.png') no-repeat -181px -232px;
  }
  &.telugu {
    background: url('/assets/images/etv_sprite.png') no-repeat -303px -231px;
  }
  &.tamil {
    background: url('/assets/images/etv_sprite.png') no-repeat -424px -232px;
  }
  &.punjabi {
    background: url('/assets/images/etv_sprite.png') no-repeat -545px -231px;
  }
  &.oriya {
    background: url('/assets/images/etv_sprite.png') no-repeat -666px -232px;
  }
  &.marathi {
    background: url('/assets/images/etv_sprite.png') no-repeat -788px -232px;
  }
  &.malayalam {
    background: url('/assets/images/etv_sprite.png') no-repeat -909px -232px;
  }
  &.kannada {
    background: url('/assets/images/etv_sprite.png') no-repeat -1030px -231px;
  }
  &.hindi {
    background: url('/assets/images/etv_sprite.png') no-repeat -1151px -232px;
  }
  &.gujarati {
    background: url('/assets/images/etv_sprite.png') no-repeat -1273px -232px;
  }
  &.english {
    background: url('/assets/images/etv_sprite.png') no-repeat -1394px -232px;
  }
  &.bengali {
    background: url('/assets/images/etv_sprite.png') no-repeat -1515px -232px;
  }
}

.fb-icon {
  background: url('/assets/images/etv_sprite.png') no-repeat -420px -818px;
  width: 28px;
  height: 28px;
}
.twitter-icon {
  background: url('/assets/images/etv_sprite.png') no-repeat -228px -818px;
  width: 28px;
  height: 28px;
}
.search-icon {
  background: url('/assets/images/search.png') no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}
.language-icon {
  width: 26px;
  height: 26px;
  &.assamese {
    background: url('/assets/images/etv_sprite.png') no-repeat -61px -134px;
  }
  &.urdu {
    background: url('/assets/images/etv_sprite.png') no-repeat -100px -134px;
  }
  &.telugu {
    background: url('/assets/images/etv_sprite.png') no-repeat -138px -134px;
  }
  &.tamil {
    background: url('/assets/images/etv_sprite.png') no-repeat -177px -134px;
  }
  &.punjabi {
    background: url('/assets/images/etv_sprite.png') no-repeat -215px -134px;
  }
  &.oriya {
    background: url('/assets/images/etv_sprite.png') no-repeat -254px -134px;
  }
  &.marathi {
    background: url('/assets/images/etv_sprite.png') no-repeat -291px -134px;
  }
  &.malayalam {
    background: url('/assets/images/etv_sprite.png') no-repeat -331px -134px;
  }
  &.kannada {
    background: url('/assets/images/etv_sprite.png') no-repeat -369px -134px;
  }
  &.hindi {
    background: url('/assets/images/etv_sprite.png') no-repeat -408px -134px;
  }
  &.gujarati {
    background: url('/assets/images/etv_sprite.png') no-repeat -446px -134px;
  }
  &.english {
    background: url('/assets/images/etv_sprite.png') no-repeat -485px -134px;
  }
  &.bengali {
    background: url('/assets/images/etv_sprite.png') no-repeat -524px -134px;
  }
}

/* End - Icons from Sprite */

.-top-1 {
  top: -1px;
}

button:focus {
  outline: none;
}
.lg-social {
  left: '-8px';
}

.commentBox {
  width: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 1001;
  right: 0;
  height: 100%;
  transition: 0.3s;
  overflow: auto;
  padding: 0 70px;
  &.mobile {
    padding: 0 8px;
  }
}

.no-scroll-bar {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.sidebar {
  will-change: min-height;
}

.sidebar__inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.compose_view_image_video img {
  min-height: 420px !important;
}

#newsroom-bodyText {
  overflow: hidden;
}

.always-english {
  font-family: 'LikhithEnglish';
}

// img.breaking_news {
//   position: relative;
//   &::after {
//     content: '';
//     background: url('/assets/images/etv_sprite.png') no-repeat -941px -1851px;
//     width: 471px;
//     height: 68px;
//   }
// }
// div.breaking_news {
//   background: url('/assets/images/etv_sprite.png') no-repeat -34px -1833px;
//   width: 718px;
//   height: 479px;
// }
.breaking_news {
  width: 100%;
}

.accordion-header {
  background-color: white;
}

.lightbox {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox > div {
  height: 100vh;
  display: flex;
  align-items: center;
}

.can-expand[aria-expanded='false'] div::after {
  content: '+';
  display: inline;
  font-weight: 500;
}
.can-expand[aria-expanded='true'] div::after {
  content: '-';
  display: inline;
  font-weight: 500;
}
.can-expand:focus {
  outline: none;
}
#newsroom-bodyText .EtvadsSection {
  display: none;
}

html[amp] #newsroom-bodyText .EtvadsSection {
  display: none;
}
.flex {
  flex-direction: row;
}
