.hamburger {
  height: 42px;
  width: 42px;
  min-width: 42px;
  background: url(/assets/images/hamburger_menu.png) no-repeat;
  background-size: 22px 15px;
  background-position: 0 14px;
  cursor: pointer;
}

.header-menu-item {
  .submenu {
    display: none;
    left: 50%;
    /* bring your own prefixes */
    margin-top: -6px;
    transform: translateX(-50%);
  }

  .submenu-container {
    height: 320px;
  }

  .arrow-up {
    display: none;
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
  }

  &:hover {
    .submenu {
      display: block;
    }

    .arrow-up {
      display: block;
    }
  }
}

.sidebar-icon {
  width: 32px;
  height: 32px;
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -60px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -105px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -152px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -198px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -244x -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -289px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -336px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -382px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -428px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -474px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -520px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -566px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -612px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -658px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -704px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -749px -37px;
  }

  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -795px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -841px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -887px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -932px -37px;
  }

  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -968px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1014px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1059px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1106px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1152px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1198px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1243px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1285px -37px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1328px -37px;
    width: 27px;
    height: 27px;
  }
  .top-news {
    background: url('/assets/images/etv_sprite.png') no-repeat -1371px -37px;
    width: 27px;
    height: 27px;
  }
}

.lhs-content {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 9px;
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: #e30a0a;
  }
}

.mobile-header {
  > .logo-container {
    max-height: 54px;
    > a {
      max-width: 54px;
    }
  }
}
.scroll {
  /* Let's get this party started */
  &::-webkit-scrollbar {
    width: 3px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
  }
}
